.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row div {
    height: 30px;
    width: 30px;
    background-color: black;
}

.white {
    color: white !important;
}