.container {
    height: 960px;
    width: 960px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.row div {
    flex-grow: 1;
    background-color: black;
}

.white {
    color: white !important;
}